<div class="container-fluid">
<section id="test-plugin" class="container-fluid row" style="background-color: #e1e1e1; ">
<aside id="test-sidebar"  class="col-md-1">
<section id="test-search">
<h1>hello hellohellohellohello</h1>
<h1>hello hello</h1>
</section>
<section id="test-markers">
</section>
</aside>
<main>
<section id="test-map">

</section>
</main>
</section>
</div>